asgiref==3.5.0
astroid==2.9.3
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
cloudinary==1.29.0
distlib==0.3.4
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2
django-ckeditor==6.2.0
django-js-asset==2.0.0
django-upgrade==1.4.0
django-widget-tweaks==1.4.12
filelock==3.4.2
gunicorn==20.1.0
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
Pillow==9.0.1
pipenv==2021.11.23
platformdirs==2.4.1
psycopg==3.0.10
psycopg2==2.9.3
psycopg2-binary==2.9.3
pylint==2.12.2
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tokenize-rt==4.2.1
toml==0.10.2
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.13.0
virtualenv-clone==0.5.7
wrapt==1.13.3
