{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/bulma.css' %}">
	<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<title>{% block 'title' %}{% endblock %}</title>
</head>
<body>
	{% include 'navbar.html' %}
	<section class="hero is-dark is-medium">
		<div class="hero-body">
			{% block 'hero' %}{% endblock %}
		</div>
	</section>
</body>
</html>

